.table {
  min-width: 650px;
}

.main-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.table-size {
  width: 95%;
}

.text-wrap {
  word-wrap: break-word;
  max-width: 400px;
}

.container-grid {
  max-height: 480px;
}

::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #3f51b585;
  border-radius: 10px;
}

.backdrop {
  z-index: 4;
  color: rgb(255, 255, 255);
}

.center-text.MuiTableCell-sizeSmall {
  text-align: center;
}

@media screen and (max-width: 1290px) {
  .container-grid {
    max-height: 400px;
  }
}

@media screen and (max-width: 1145px) {
  .container-grid {
    max-height: 300px;
  }
}

@media screen and (max-width: 990px) {
  .container-grid {
    max-height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .container-grid {
    .MuiTableHead-root {
      display: none;
    }

    .MuiTableBody-root {
      tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }
  }
  .size-table {
    .MuiTableContainer-root {
      overflow-x: hidden;
    }
  }

  .table {
    min-width: 0px;
  }

  .text-wrap {
    word-wrap: break-word;
    max-width: none;
  }

  .MuiTableCell-root.MuiTableCell-body {
    width: 85%;
    border-bottom: none;
  }

  .MuiTableCell-root.MuiTableCell-body:last-child {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
  }
}

@media screen and (max-width: 460px) {
  .MuiToolbar-root.MuiToolbar-regular.MuiTablePagination-toolbar.MuiToolbar-gutters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .MuiTablePagination-actions {
    margin: 0;
  }

  .MuiTypography-body2 {
    flex: 0 0 35%;
  }

  .MuiTablePagination-input {
    flex: 0 0 25%;
  }
}
