.edit-div {
  margin: 30px;
}

.more-size.MuiFormControl-root {
  min-width: 300px;
}

.MuiInputBase-root.more-size {
  min-width: 300px;
}

.more-size.MuiFormControl-root.big-input {
  min-width: 300px;
}

.edit-div-buttons{
  margin: 0 46px;
}
