.avatar {
  width: auto;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.input {
  display: none;
}

img {
  width: 100%;
}

.person-main {
  margin-top: 20px;
}
