.root {
  display: flex;
  flex-wrap: wrap;
}

.margin.MuiFormControl-root {
  margin: 8px;
}

.textField {
  width: auto;
}

.auth-div-login {
  margin: 8px;

  div {
    width: 100%;
  }
}

.main-auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.main-auth-field {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  height: fit-content;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 7px 7px 19px 0px #4b5e75;

  h2 {
    margin: 20px;
  }
}

.input-form-auth {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.MuiButton-outlinedPrimary.MuiButtonBase-root {
  margin: 8px;
}

.auth-text {
  margin: 8px;
}

.auth-form {
  width: 40%;
}

.img-start {
  width: 30%;
  margin-right: 70px;
}

@media screen and (max-width: 1065px) {
  .main-auth {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .main-auth-field {
    width: 70%;
    margin-top: 30px;
  }

  .img-start {
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .MuiInputBase-input.MuiOutlinedInput-input {
    min-width: 120px;
  }

  .img-start {
    width: 50%;
    margin-top: 20px;
  }
}
